{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<style>
  #map {
    width: 100%;
    height: 500px;
  }
</style>
{% endblock %}

{% block content %}
<div id="map" style="width: 100%; height: 500px; margin-top:100px;"></div>
<div id="countdownTimer"></div>
<form id="locationsForm" class="mt-4">
  <div class="form-group">
    <label for="location_one">My Location:</label>
    <input type="text" class="form-control" id="location_one" name="location_one">
  </div>
  <div class="form-group">
    <label for="location_two">Partner's Location:</label>
    <input type="text" class="form-control" id="location_two" name="location_two">
  </div>
  <div class="form-group">
    <label for="datetime_field">Date of Meeting:</label>
    <input type="datetime-local" class="form-control" id="datetime_field" name="datetime_field">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>




{% endblock %}

{% block extra_js %}
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="{% static 'home/js/script.js' %}"></script>
<script>
  function geocodeAddress(location, callback) {
    var geocoder = new google.maps.Geocoder();
    geocoder.geocode({ 'address': location }, function (results, status) {
      if (status === 'OK') {
        var latlng = {
          lat: results[0].geometry.location.lat(),
          lng: results[0].geometry.location.lng()
        };
        callback(latlng);
      } else {
        console.error('Geocode was not successful for the following reason: ' + status);
      }
    });
  }

  document.getElementById('locationsForm').addEventListener('submit', function (event) {
    event.preventDefault(); // Prevent the form from submitting normally

    var locationOne = document.getElementById('location_one').value;
    var locationTwo = document.getElementById('location_two').value;

    geocodeAddress(locationOne, function (latlngOne) {
      geocodeAddress(locationTwo, function (latlngTwo) {
        // Now you have the latitude and longitude coordinates for both locations
        console.log('Location One:', latlngOne);
        console.log('Location Two:', latlngTwo);

        // Use these coordinates to draw a line on the map
        var latlngs = [latlngOne, latlngTwo];
        var polyline = L.polyline(latlngs, { color: 'red' }).addTo(map);
      });
    });
  });


</script>
{% endblock %}